/*=====Fuente====*/

@font-face {
    font-family: horrendo;
    src: url(necesitoExamen/horrendo.ttf);
}


/*=======COMUN========*/

body {
    background-image: url(necesitoExamen/fondo.jpg);
}

header img {
    height:11em;
    width: 100%;
}

nav {
    padding: 0.1em;
    background-color: dodgerblue;
    display: flex;
    border-radius: 1em;
}
nav img{
    margin-top: 1em;
    margin-left: 2em;
}

ul {
    margin-left: 6em;
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 15em;
    margin-right: auto;
    margin-top: 0.3em;
}

a {
    font-style: normal;
    text-decoration: none;
}

ul li a:hover {
    background-color:white;
    font-size: 1.5em;
    color: blue;
}

footer {
    padding: 0.1em;
    background-color: dodgerblue;
    color:white;
    display: flex;
    border-radius: 1em;
    margin-top: 1em;
}
footer img {
    margin-left: 0;
}
footer p {
    margin-left: 75em;
}

/*==========INDEX==============*/

#sectionIndex {
    display: flex;
    margin-top: 3em;
}

#sectionIndex div {
    background-color: dodgerblue;
    border-bottom:  grey solid 1em;
    border-radius: 10em;
    margin-left: 1em;
}

#sectionIndex div h2 {
    font-family: horrendo;
    color: white;
    text-align: center;
}

#sectionIndex div p {
    margin-left: 1em;
    font-style: bold;
    font-weight: bold;
}

#sectionIndex div h2, p {
    margin-left: 0;
}

#sectionIndex div img {
    width: 5em;
    margin-left:17em;
}

#sectionIndex div > * {
    margin-left: 4em;
}


/*======Estadisticas============*/

nav audio {
    margin-top: 1em;
    margin-left: 10em;
}

#sectionEst {
    margin-top: 1em;
    height: 15.6em;
    width: 119em;
 }
 
 #aside1 {
    float: left;
 }

#aside2 {
    margin-top: 2em;
    float: right;
}

#aside2 table {
    border: solid blue 0.1em;
    background-image: linear-gradient(white, powderblue, blue);
}

.tablaGris {
    background-color: grey;
    color:white;
}

.estMayus {
    text-transform: uppercase;
    height: 2em;
}


/*=========Contacta======*/

#sectionCont {
    text-transform: uppercase;
    font-family: arial;
    color: red;
    text-align:center;
    padding-bottom: 5em;
    font-size: 50px;
}
